body {
  background-color: #8B0000;
  text-align: center;
  padding-top: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 34px;
  font-family: 'Times New Roman', Times, serif;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  background-color: #FFFFFF;
  color: #8B0000;
  font-size: 28px;
  font-weight: bold;
  padding: 20px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px;
}

button:hover {
  background-color: #FFD700;
  color: #8B0000;
}

.hidden {
  display: none;
}

a {
  color: #FE706A; 
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  text-decoration: underline;
}

a:hover {
  color: #FF6347;
}

p i {
  font-size: 18px;
}

.container > h1 {
  margin-top: 20px;
}

